<!DOCTYPE html>
<html>
<head>
  <title>Posko browser</title>
  <%= csrf_meta_tags %>
  <%# csp_meta_tag # for rails 5.2.2 %>

  <%# stylesheet_link_tag    "posko/browser/application", media: "all" %>
  <%# javascript_include_tag "posko/browser/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
